html {
    padding: 0;
    margin: 0;
    color: #232323;
    background-color: #63686f;
    background: url(/images/bg2.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-weight: 400;
    vertical-align: baseline;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    text-rendering: geometricPrecision;
    max-width: 50rem;
    padding: 2.5rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;

    margin-left: auto;
    margin-right: auto;
    background-color: #FAFAFA;

    font-family: 'Play', sans-serif;

    border-radius: 1rem 2px 2px 2px;
    box-shadow: 1px 1px 1px #999999;
}

section {
    display: block;
}

header {
    margin-bottom: 1rem;
    display: block;
    margin-top: 1rem;
    text-align: center;
    color: #0E35C1;
}

nav {
    display: block;
    width: 100%;
    margin-bottom: 2rem;
    text-align: center;
}

nav a {
    color: #FAFAFA;
    margin-left: 1rem;
    margin-right: 1rem;
    font-weight: bold;
    font-size: 1.3rem;
    background-color: #FF4C19;
    padding: 0.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 1rem 2px 2px 2px;
    letter-spacing: 0.1rem;
}

nav a:hover {
    text-decoration: none;
    background-color: #0E35C1;
}

nav a:visited {
    color: #FEFEFE;
}


p {
  line-height: 1.5em;
  margin-top: 1rem;
  margin-bottom: 1.5em;
}

a {
  color: #0E35C1;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: #0E35C1;
}

::selection {
  color: #EFEFEF;
  background: #0E35C1;
}
::-moz-selection {
  color: #EFEFEF;
  background: #0E35C1;
}

footer p {
  display: block;
  margin-top: 5em;
  font-size: 0.8em;
  text-align: center;
}

abbr {
  border-bottom: 1px dotted #666666;
}

div.image {
    width: 100%;
    margin: auto;
    padding: 0;
    border-radius: 1rem 2px 2px 2px;
    border: 1px solid #999999;
    background-color: #DEDEDE;
}

div.image img {
    margin: -1px;
    border-radius: 1rem 2px 0 0;
    width: 100%;
    margin: 0;
}

div.image p {
    margin: 0.2rem;
    margin-left: 0.5rem;
    text-align: left;
    font-size: 0.8rem;
}

div.image.tiled {
    display: inline-block;
    width: 40%;
}

section.gallery {
    text-align: center;
}
section.gallery div.image {
    margin-bottom: 1rem;
}

ul {
  list-style: none;
  padding-left: 1.5rem;
}
ul li:before {
  content: '';
}

section.cols {
    display: table;
    width: 100%;
    margin-bottom: 2rem;
}
.col {
    display: table-cell;
    padding: 0;
}
ul.col li {
    text-align: center;
    margin: 0;
    margin-top: 0.75rem;
    font-weight: bold;
    margin-bottom: 0.75rem;
    color: #0E35C1;
    text-shadow: 0 0 1px #666666;
    font-size: 1.3rem;
}

dt {
    font-weight: bold;
}
dd {
    margin-bottom: 1rem;
    margin-left: 2rem;
}

@media all and (max-width: 600px) {
  h2 {
    font-size: 1.3rem;
  }
  header img {
    width: 100%;
  }
  body {
    padding: 1rem;
  }
  ul.col li {
    font-size: 1rem;
  }

  header {
    margin-top: 0;
  }

  nav a {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 1rem;
  }
}

@media all and (max-width: 400px) {
  h2 {
    font-size: 1.1rem;
  }
  ul.col li {
    font-size: 0.8rem;
  }
  nav a {
    font-size: 0.8rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
  }
}
